@import "bourbon"
@import "fonts"
@import "vars"

.section-content
	min-height: 548px
.section-content
	background-image: url(/img/s1_gray_bg.png)
	background-repeat: no-repeat
	background-position: bottom
	position: relative
	padding-bottom: 90px
.s1_bottom-triangle
	height: 90px
	position: absolute
	bottom: 0
	background-image: url(/img/s1_triangle.svg)
	z-index: 2
	width: 100%
	text-align: center
	background-position: center top
	background-size: 100% 100%
.s1_bottom
	padding: 15px 0 60px
	background-color: #394B5F